@font-face {
    font-family: 'Merienda';
    src: url('../fonts/Merienda-Regular.eot');
    src: url('../fonts/Merienda-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merienda-Regular.woff2') format('woff2'),
        url('../fonts/Merienda-Regular.woff') format('woff'),
        url('../fonts/Merienda-Regular.svg#Merienda-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}