@media (max-width: 768px) {
  .burger-bar {
    display: block;
  }
  .navigations {
    display: none;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  li {
    margin-top: 15px;
  }
  .navigations.activeNav {
    display: block;
  }
}
@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  .skill-div {
    width: 250px;
  }
  .skill-div-line {
    width: 250px;
  }
  .about-div-ul {
    font-size: 10px;
  }
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
