.logo {
    width: 20px;
    border-radius: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
    padding: 15px;
}
.navigations {
    display: flex;
    justify-content: center;
}
.nav-a:hover {
    color: gray;
}
.navigations ul {
    display: flex;
}
.nav-a {
    padding-left: 20px;
}
#input-box {
    margin: 50px;
}
i {
    margin: 10px;
}
.burger-bar {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid goldenrod;
    cursor: pointer;
    display: none;
}
.line {
    width: 90%;
    height: 2px;
    background-color: goldenrod;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s linear;
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}
.activebar .line1 {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.activebar .line3 {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.activebar .line2 {
    display: none;
}
.ul-flex {
    display: flex;
    justify-content: left;
}
/* search */
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input, label {
    margin: .4rem 0;
    border-color: darkblue;
    border-radius: 10px;
}
.input:focus {
    outline: none;
    color: darkblue;
}
.input::placeholder {
    color: goldenrod;
}
.btn {
    border-radius: 10px;
    color: darkblue;
    border: none;
    background-color: beige;
}

/*footer*/
.footer-bg {
    background-color: beige;
    padding: 89px 0 114px 0;
}
.footer-bg a {
    color: goldenrod;
}
.footer-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-block01 {
    width: 260px;
}

.footer-block01 p {
    color: darkblue;
    margin-top: 22px;
    margin-bottom: 20px;
}

.footer-social-icons {
    display: flex;
}
.size-social {
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soc-contact-fb {
    background-color: #3B5998; 
}
.soc-contact-twitter {
    background-color: #55ACEE;
    margin:0 15px;
}
.soc-contact-google {
    background-color: #DC4E41;
}
.footer-block h2 {
    font-family: 'Poppins';
    font-size: 18px;
    color: darkblue;
}
.footer-block li {
    font-family: 'Poppins';
    font-size: 14px;
    padding-top: 11px;
}
.footer-block span {
    font-family: 'Poppins';
    font-size: 14px;
    padding-top: 11px;
    color: darkblue;
}
.contact-icon {
    color: #5863F8;
    margin-right: 14px;
}
.footer-span {
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: 54px;
    margin-left: 139px;
    color: darkblue;
}
